{# Add action template for Directors controller #}
{% extends 'base.twig' %}

{% block title %}{{  'Add director'|trans }}{% endblock %}
{% block content %}
	{% if is_granted('ROLE_ADMIN') %}
		<h2>{{ 'Add director'|trans }}</h2>
			<form action="{{ url('directors_add') }}" method="post">
				{{ form_widget(form) }}
				<input class="btn btn-success" type="submit" name="submit" value="{{ 'Save'|trans }}" />
				<div>
					<a class="btn btn-primary" href="{{ url('directors_index', {'page': 1 }) }}" title="{{ 'Back'|trans }}">{{ 'Back'|trans }}</a>
				</div>
			</form>
	{% else %}
		<div class="alert alert-danger" role="alert">
			{{'Sorry, you have no permission here.'|trans}}
		</div>
		<a class="btn btn-default" href="{{ url('seances_index', {'page': 1 }) }}" title="{{ 'Home page'|trans }}">{{ 'Home page'|trans }}</a>
	{% endif %}
{% endblock %}
