{# Delete action template for Directors controller #}
{% extends 'base.twig' %}

{% block title %}{{  'Delete director'|trans }}{% endblock %}
{% block content %}
    <h2>{{ director.firstName }} {{ director.surname }}</h2>
    	<p>{{ 'Do you want to delete this director?'|trans }}</p>
		<form action="{{ url('directors_delete', {'id' : director.id}) }}" method="post">
			{{ form_widget(form) }}
			<input class="btn btn-danger" type="submit" name="submit" value="{{ 'Yes'|trans }}"/>
			<div>
				<a class="btn btn-primary" href="{{ url('directors_index') }}" title="{{ 'Cancel'|trans }}">{{ 'Cancel'|trans }}</a>
			 </div>
		</form>
{% endblock %}