{# 404 error template #}
{% extends 'base.twig' %}

{% block title %}{{  '404 error'|trans }}{% endblock %}
{% block content %}
    <h1>
        {{ '404 error'|trans }}
    </h1>
    <p>{{ 'Page not found.'|trans }}</p>
    <p><a href="{{ url('seances_index') }}" title="{{'Homepage'|trans}}">{{'Homepage'|trans}}</a></p>
{% endblock %}